@keyframes toast-in {
  0% {
    bottom: -70px;
    opacity: 0;
  }

  15% {
    bottom: 16px;
    opacity: 1;
  }

  75% {
    bottom: 16px;
    opacity: 1;
  }

  100% {
    bottom: -70px;
    opacity: 0;
  }
}
